//eslint에 대한 설정
{
    "parserOptions": {
        "ecmaVersion": 2019,
        "sourceType": "module"
    },
    "env": {
        "browser": true,
        "node": true
    },
    //extends는 plugins를 모아둔 것
    "extends": [
        "plugin:vue/recommended"
    ],
    "plugins": [],
    "rules": {
        "no-console": "off",
        "vue/max-attributes-per-line": "off",
        "vue/singleline-html-element-content-newline": "off",
        "vue/html-self-closing": "off"
    }
}