@font-face { font-family: 'Cafe24Oneprettynight'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff') format('woff'); font-weight: normal; font-style: normal; }

@font-face { font-family: 'RIDIBatang'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff'); font-weight: normal; font-style: normal; }

***********************************reset********************************************/
html, body{font-family:'malgun gothic', 'NanumGothic', sans-serif; width: 100%; height: 100%; color: black;}
body, p, div,h1, h2 ,h3 ,h4, h5, h6 ,ul, ol ,li ,dl ,dt ,dd, table,th, td, form, fieldset ,legend ,input ,textarea,
button, select{margin:0; padding:0; font-family:'RIDIBatang', 'NanumGothic', sans-serif; font-size: 18px;}
img, fieldset{border: 0;}
ul, ol, li{list-style: none;}
img{vertical-align:top;}
em, address{font-style: normal;}
table{border-collapse: collapse;}
input,a, button{text-decoration: none; outline:none; text-decoration-color: none; background: transparent; border: none; cursor: pointer;}
/* a:hover, a:active, a:focus ,a:visited,button:visited{text-decoration: none; outline:none; text-decoration-color: none;} */

/***********************************reset********************************************/
.hidden{
	position: absolute;
	top: -99999em;
}